[submodule "models/DINO4Cells_code"]
	path = models/DINO4Cells_code
	url = https://github.com/broadinstitute/DINO4Cells_code.git
[submodule "models/DeepProfiler"]
	path = models/DeepProfiler
	url = https://github.com/cytomining/DeepProfiler.git
[submodule "models/SubCellPortable"]
	path = models/SubCellPortable
	url = https://github.com/CellProfiling/SubCellPortable.git
[submodule "models/dinov2"]
	path = models/dinov2
	url = https://github.com/facebookresearch/dinov2.git
